/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
  cursor: pointer;
}

.radio-item label {
  font-family: Lato-Bold;
  font-size: 15px;
  color: #3b3b3b;
  letter-spacing: 0;
  line-height: 42px;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid black;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  left: 10px;
  content: " ";
  display: block;
  background: #fa2398;
}

#authentication {
  background-image: linear-gradient(#fa2398 100%, #dd1f94 100%);
}

#authentication #wrapper {
  background-image: linear-gradient(#fa2398 100%, #dd1f94 100%);
}

#authentication #content {
  padding: 0%;
}
.radio {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 5em;
  height: 5em;
  z-index: 2;
  cursor: pointer;
}

.radio-look {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 0.1px solid black;
  border-radius: 50%;
  position: relative;
  margin-left: 18px;
}

.radio-look:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border: 2.6px #fa2398;
  border-radius: 70%;
  font-family: Lato-Bold;
  font-size: 15px;
  color: #3b3b3b;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: bold;
}

.radio:checked + .radio-look:after {
  background: #fa2398;
  font-weight: bold;
}
@font-face {
  font-family: "Nexa-Xbold";
  src: url("../Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
}

@font-face {
  font-family: "Nexa-Bold";
  src: url("../Nexa/Nexa_V1_2012/Nexa\ Light.otf");
}

@font-face {
  font-family: "NexaHeavy";
  src: url("../Nexa/Nexa_V1_2012/Nexa\ W01\ Heavy.otf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../Lato-Regular/Lato-Regular.ttf");
}
.contenedorImagen {
  background-image: url("../img/Light-Cover-Pattern-bg@2x.png");
  background-size: 70%;
}
.contenedorImagen2 {
  background-image: url("../img/Light-Cover-Pattern-bg@2x.png");
  background-size: 45%;
}
.pl-2 {
  padding-left: 0%;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-bottom: 0px;
  border: 1px solid #c0c2c8;
  cursor: pointer;
}
.checked {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-bottom: 0px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid black 1px;
  cursor: pointer;
}
@media (max-width: 766px) {
  #authentication {
    background-image: none;
  }

  #authentication #wrapper {
    background-image: none;
    background-color: white;
  }
}
@media (max-width: 766px) {
  .fila1 {
    height: 40px;
    margin-top: 10px;
  }
  .fila20 {
    display: flex;
    justify-content: center;
  }
  .contenedorPrincipal {
    width: 100%;
    height: 660px;
    background-color: white;
    position: relative;
  }
  #img1 {
    height: 24px;
    width: 24px;
    margin-left: 15px;
    cursor: pointer;
    /* margin-bottom: 5px; */
  }
  .c1 {
    text-align: left;

    padding: 0%;
  }
  .span1 {
    display: inline;
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3b3b3b;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
  }
  .span1:hover {
    color: #fa2398;
  }
  .c {
    text-align: right;

    padding: 0%;
  }
  .span2 {
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Nexa-XBold;
    font-size: 12px;
    color: #3b3b3b;
    text-align: center;
    line-height: 13px;
    text-decoration: underline #3b3b3b;
  }
  .span2:hover {
    color: #fa2398;
  }

  #img2 {
    height: 27px;
    width: 27px;
    margin-right: 15px;
    cursor: pointer;
  }
  .fila2 {
    display: flex;
    justify-content: center;
  }
  #logogrande {
    margin-left: 19px;
    margin-top: 24px;
    margin-bottom: 5px;
    height: 30px;
    width: 223px;
  }
  .fila3 {
    justify-content: center;
  }
  #login {
    margin-top: 45px;
    font-family: Nexa-XBold;
    font-size: 25px;
    color: #1a1b1c;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .fila4 {
    display: flex;
    justify-content: center;
  }
  #accede {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #84868a;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
  }
  .fila5 {
    display: flex;
    margin-top: 17px;
    justify-content: center;
  }
  .letrasacceso {
    font-family: Nexa-Bold;
    font-size: 12px;
    color: #3b3b3b;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  .hr {
    width: 33px;
    margin: 5px;
    background: #9ea0a4;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 9px;
  }
  .fila6 {
    display: flex;
    justify-content: center;
  }
  .fila6-1,
  .fila6-2 {
    margin-right: 5px;
  }

  .iconosredes {
    margin-left: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
  #face {
    margin-right: 10px;
    height: 55px;
    width: 55px;
    background-size: 85%;
  }
  #google {
    height: 55px;
    width: 55px;
    margin-right: 8px;
  }
  #twitter {
    height: 55px;
    width: 55px;
  }
  .fila7 {
    display: flex;

    justify-content: center;
    margin-top: 23px;
  }
  .hr2 {
    width: 33px;
    margin: 5px;
    background: #9ea0a4;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 9px;
  }
  .fila8 {
    height: 80px;
    margin-top: 13px;
  }
  .fila8-1 {
    margin-left: 20px;
  }
  #emailregistro {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #casillaemail {
    height: 45px;
    width: 99%;
    border-radius: 3%;
    background-color: white;
  }
  #casillaemail:focus {
    color: #fa2398;
  }
  .icone img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .icone {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .icone {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 28px;
    top: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  .fila9 {
    height: 80px;
    margin-top: 0px;
  }
  .fila9-1 {
    margin-left: 20px;
  }
  #passregistro {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #casillapass {
    height: 45px;
    width: 99%;
    background-color: white;
    border-radius: 3%;
  }
  #imagenpass {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  #imagenpass2 {
    height: 35px;
    width: 35px;
    color: black;
    display: none;
    cursor: pointer;
  }

  .checkbox {
    margin-left: 0px;
  }
  .checked {
    margin-left: 0px;
  }

  #textocheck {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  label.custom-radio-checkbox {
    margin-bottom: 10px;
  }
  .fila10 {
    display: flex;
    justify-content: center;
    height: 35px;
  }
  .fila10-1 {
    padding: 0%;
    display: flex;
    justify-content: flex-start;
  }
  .fila10-2 {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    padding: 0%;
  }

  #textocheck {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
  }
  .custom-radio-checkbox__input {
    margin-left: 0px;
  }
  #letrascontra {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #fa2398;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
    margin-top: 7px;
    margin-right: 2px;
  }
  .fila11-1 {
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  #botonregistro {
    font-family: Nexa-XBold;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    width: 80%;
    height: 70%;
    cursor: pointer;
    text-transform: none;
  }
  .btn {
    width: 85%;
    height: 50%;
    margin-bottom: 15px;
    background-color: #fa2398;
    border-color: #fa2398;
    margin-top: 8px;
    border-radius: 4px;
  }
}
@media (max-width: 320px) {
  #textocheck {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 766px) {
  .contenedorPrincipal {
    height: 694px;
    width: 409px;
    background-color: white;
    position: relative;
    margin-top: 100px;
    border-radius: 1%;
    margin-bottom: 100px;
  }
  .fila20 {
    display: flex;
    justify-content: center;
  }
  .fila1 {
    height: 40px;
    margin-top: 10px;
  }

  #img1 {
    height: 24px;
    width: 24px;
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    /* margin-bottom: 5px; */
  }
  .c1 {
    text-align: left;

    padding: 0%;
  }
  .span1 {
    display: inline;
    cursor: pointer;
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3b3b3b;
    text-align: center;
    line-height: 12px;
  }
  .span1:hover {
    color: #fa2398;
  }

  .c {
    text-align: right;

    padding: 0%;
  }
  .span2 {
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Nexa-XBold;
    font-size: 12px;
    color: #3b3b3b;
    text-align: center;
    line-height: 13px;

    text-decoration: underline #3b3b3b;
  }
  .span2:hover {
    color: #fa2398;
  }

  #img2 {
    height: 27px;
    width: 27px;
    margin-top: 3px;
    margin-right: 25px;
    cursor: pointer;
  }
  .fila2 {
    display: flex;
    justify-content: center;
  }
  #logogrande {
    margin-left: 19px;
    margin-top: 24px;
    margin-bottom: 5px;
    height: 30px;
    width: 223px;
  }
  .fila3 {
    justify-content: center;
    height: 35px;
  }
  #login {
    margin-top: 47px;
    font-family: Nexa-XBold;
    font-size: 25px;
    color: #1a1b1c;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
  }
  .fila4 {
    display: flex;
    justify-content: center;
  }
  #accede {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #84868a;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 7px;
  }
  .fila5 {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .letrasacceso {
    font-family: Nexa-Bold;
    font-size: 12px;
    color: #3b3b3b;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  .hr {
    width: 33px;
    margin: 5px;
    background: #9ea0a4;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 9px;
  }
  .fila6 {
    display: flex;
    justify-content: center;
  }
  .fila6-1,
  .fila6-2 {
    margin-right: 5px;
  }

  .iconosredes {
    margin-left: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
  #face {
    margin-right: 10px;
    height: 55px;
    width: 55px;
  }
  #google {
    height: 55px;
    width: 55px;
    margin-right: 8px;
  }
  #twitter {
    height: 55px;
    width: 55px;
  }
  .fila7 {
    display: flex;

    justify-content: center;
    margin-top: 23px;
  }
  .hr2 {
    width: 43px;
    margin-top: 9px;
    margin-left: 0px;
    margin-right: 0px;
    background: #9ea0a4;
  }
  .fila8 {
    height: 80px;
    margin-top: 13px;
  }
  .fila8-1 {
    margin-left: 35px;
  }
  #emailregistro {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #casillaemail {
    height: 45px;
    width: 85%;
    margin-left: 10px;
    background-color: white;
    border-radius: 3%;
  }
  #casillaemail:focus {
    color: #fa2398;
  }
  .fila9 {
    height: 80px;
    margin-top: 0px;
  }
  .icone img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .icone {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .icone {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 57px;
    top: 33px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  .fila9-1 {
    margin-left: 35px;
  }
  #passregistro {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #casillapass {
    height: 45px;
    width: 85%;
    border-radius: 3%;
    margin-left: 10px;
    background-color: white;
  }
  #imagenpass {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  #imagenpass2 {
    height: 35px;
    width: 35px;
    color: black;
    display: none;
    cursor: pointer;
  }
  #imagenpass3 {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  #imagenpass4 {
    height: 35px;
    width: 35px;
    color: black;
    display: none;
    cursor: pointer;
  }
  .fila10 {
    height: 35px;
    display: flex;
    justify-content: center;
  }
  .fila10-1 {
    padding: 0%;
    display: flex;
    justify-content: start;
  }
  .fila10-2 {
    display: flex;
    justify-content: flex-end;

    padding: 0%;
  }
  #textocheck {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    position: relative;
  }
  .custom-radio-checkbox__input {
    margin-left: 0px;
  }
  #letrascontra {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #fa2398;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
    margin-top: 7px;
    margin-right: 2px;
  }
  .fila11-1 {
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  #botonregistro {
    width: 77%;
    height: 70%;
    margin-bottom: 15px;
    background-color: #fa2398;
    border-color: #fa2398;
    margin-top: 8px;
    border-radius: 4px;
    font-family: Nexa-XBold;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    text-transform: none;
  }
}
@media (max-width: 360px) {
  .col-sm-2 {
    padding-right: 0%;
  }
}
@media (max-width: 576px) {
  .col-sm-2 {
    float: none;
    width: auto;
  }
}
@media (max-width: 766px) {
  .col-sm-2 {
    width: auto;
  }
}
@media (max-width: 766px) {
  .fila21 {
    display: flex;
    justify-content: center;
  }
  .contenedorPrincipal2 {
    width: 100%;
    background-color: white;
    position: relative;
  }
  .filaCabecera {
    height: 40px;
  }
  #wrapper {
    padding: 0%;
  }
  #crear {
    margin-top: 45px;
    font-family: Nexa-XBold;
    font-size: 25px;
    color: #1a1b1c;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0px;
  }
  #unete {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #84868a;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
  }

  .filaicone {
    display: flex;
    justify-content: center;
  }
  .filaicone .col-3 {
    display: block;
    text-align: center;
  }

  .filaicone img {
    width: 32px;
    height: 32px;
  }

  .filaicone span {
    display: block;
    font-family: NexaHeavy;
    font-size: 11px;
    color: #3b3b3b;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
  }
  .fila51 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }
  .filachecks {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
    height: 25px;
  }
  .pl-2 {
    padding-left: 0;
  }
  .fila12 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  #nombreRegistro {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #nombre {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-left: 10px;
    width: 88%;
  }
  #apellidosRegistro {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
  }
  #apellidos {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;

    width: 88%;
  }

  .fila13-2 {
    margin-top: 13px;
    padding-left: 10%;
  }
  .fila14 {
    display: flex;
    justify-content: space-around;
    margin-top: 13px;
    margin-left: 10px;
  }

  #cumpleanos {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
  }
  #selectdias {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    width: 90px;
  }
  .fila14-2 {
    padding-left: 0%;
  }
  #selectmes {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-top: 25px;
    width: 90px;
  }
  .fila14-3 {
    padding-left: 0%;
  }
  #selectanio {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-top: 25px;
    width: 90px;
  }
  #emailregistro2 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 10px;
  }
  #casillaemail2 {
    height: 45px;
    width: 85%;
    border-radius: 3%;
    background-color: white;
    margin-left: 10px;
  }
  .fila15 {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .fila15 .form-group {
    margin-bottom: 0rem;
  }
  .fila15-1 {
    margin-left: 15px;
  }

  #passregistro2 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 0px;
  }
  #passregistro3 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 0px;
  }
  #casillapass2 {
    height: 45px;
    width: 88%;
    background-color: white;
    border-radius: 3%;
  }
  #casillapass3 {
    height: 45px;
    width: 88%;
    background-color: white;
    border-radius: 3%;
  }

  .fila16 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .fila16-1 p {
    margin-bottom: 0rem;
    margin-left: 10px;
  }

  .fila16-2 label {
    text-align: inherit;
  }
  #letrasabajo {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #84868a;
    letter-spacing: 0;
    line-height: 18px;
  }
  .fila17-1 {
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  .icone2 img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .icone2 {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .icone2 {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 37px;
    top: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  .iconee img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .iconee {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .iconee {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 36px;
    top: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  #imagenpass3 {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  #imagenpass4 {
    height: 35px;
    width: 35px;
    color: black;
    display: none;
    cursor: pointer;
  }
  #botonregistro2 {
    width: 87%;
    height: 70%;
    margin-bottom: 15px;
    background-color: #fa2398;
    border-color: #fa2398;
    margin-top: 8px;
    border-radius: 4px;
    font-family: Nexa-XBold;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    text-transform: none;
  }
}

@media (min-width: 766px) {
  .fila21 {
    display: flex;
    justify-content: center;
  }
  .contenedorPrincipal2 {
    width: 700px;

    background-color: white;
    position: relative;
    border-radius: 1%;
  }
  .filaCabecera {
    height: 40px;
    margin-top: 10px;
  }
  #crear {
    margin-top: 50px;
    font-family: Nexa-XBold;
    font-size: 25px;
    color: #1a1b1c;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0px;
  }
  #unete {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #84868a;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 7px;
  }

  .filaicone {
    display: flex;
    justify-content: center;
  }
  .filaicone .col-3 {
    display: block;
    text-align: center;
  }

  .filaicone img {
    width: 32px;
    height: 32px;
  }

  .filaicone span {
    display: block;
    font-family: NexaHeavy;
    font-size: 11px;
    color: #3b3b3b;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
  }
  .fila51 {
    display: flex;
    justify-content: center;
    margin-top: 49px;
  }
  .filachecks {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2px;
    height: 25px;
  }
  .fila12 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  #nombreRegistro {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 36px;
  }
  #nombre {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-left: 36px;
    width: 90%;
  }
  #apellidosRegistro {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
  }
  #apellidos {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;

    width: 90%;
  }

  .fila13-1 {
    padding: 0%;
    display: flex;
    justify-content: center;
  }
  .fila13-2 {
    margin-top: 10px;
    margin-left: 30px;
  }
  .fila14 {
    display: flex;

    margin-top: 7px;
  }
  #cumpleanos {
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
  }
  .fila14-1 {
    padding: 0%;
    margin-left: 47px;
  }
  #selectdias {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    width: 90px;
  }
  .fila14-2 {
    padding: 0%;
    margin-right: 10px;
  }
  #selectmes {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-top: 25px;
    width: 80px;
  }
  .fila14-3 {
    padding: 0%;
  }
  #selectanio {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;
    margin-top: 25px;
    width: 100px;
  }
  #emailregistro2 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
  }
  #casillaemail2 {
    background: #ffffff;
    border: 1px solid #dadce1;
    border-radius: 4px;
    border-radius: 4px;

    width: 90%;
  }
  .fila15 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .fila15 .form-group {
    margin-bottom: 0rem;
  }
  .fila15-1 {
    margin-left: 15px;
  }
  .fila15-2 {
    padding-left: 1%;
  }
  #passregistro2 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 21px;
  }
  #passregistro3 {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 13px;
    margin-left: 0px;
  }
  #casillapass2 {
    height: 45px;
    width: 90%;
    background-color: white;
    border-radius: 3%;
    margin-left: 22px;
  }
  #casillapass3 {
    height: 45px;
    width: 90%;
    background-color: white;
    border-radius: 3%;
  }
  .fila16 {
    margin-top: 10px;
  }
  .fila16-1 {
    margin-left: 35px;
  }
  .fila16-1 p {
    margin-bottom: 0rem;
    margin-left: 20px;
  }
  .fila16-2 {
    margin-left: 22px;
  }
  #letrasabajo {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #84868a;
    letter-spacing: 0;
    line-height: 18px;
  }
  .fila16-2 label {
    text-align: inherit;
  }
  #textocheck {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .fila17-1 {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  #botonregistro2 {
    width: 87%;
    height: 70%;
    margin-bottom: 15px;
    background-color: #fa2398;
    border-color: #fa2398;
    margin-top: 8px;
    border-radius: 4px;
    font-family: Nexa-XBold;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    text-transform: none;
  }
  .icone2 img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .icone2 {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .icone2 {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 32px;
    top: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  .iconee img {
    width: 25px;
    height: 25px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .iconee {
    position: absolute;
    padding: 0%;
    /* pointer-events: none; */
  }
  .right-addon .iconee {
    background-size: contain;
    border: none;
    outline: none;
    margin-top: 0px;

    z-index: 2;
    opacity: 0.3;
    right: 52px;
    top: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  .radio {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 5em;
    height: 5em;
    z-index: 2;
    cursor: pointer;
  }

  .radio-look {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border: 0.1px solid black;
    border-radius: 50%;
    position: relative;
    margin-left: 18px;
  }

  .radio-look:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border: 2.6px #fa2398;
    border-radius: 70%;
    font-family: Lato-Bold;
    font-size: 15px;
    color: #3b3b3b;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: bold;
  }

  .radio:checked + .radio-look:after {
    background: #fa2398;
    font-weight: bold;
  }
}
